@font-face {
    font-family: "Montserrat";
    src: url('./Montserrat-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url('./Montserrat-Bold.ttf') format('truetype');
}

.bold {
    font-weight: bold;
}

button {
    border: none;
    background: none;
}

input {
    color: whitesmoke;
    margin: 5px;
    padding: 5px;
    background: #282828;
    border: none;
}

textarea:focus, input:focus{
    outline: none;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background: #171717;
    font-family: Montserrat, sans-serif;
    color: whitesmoke;
    overflow: hidden;
    display: block;
}

p {
    margin: 3px 0;
    color: darkgrey;
}

#app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.add-project {
    display: flex;
    align-items: center;
}

#add-project {
    margin-left: 160px;
}

#top-bar {
    box-shadow: 0 2px 3px 0 rgb(0 0 0 / 15%);
    height: 44px;
    background: darkgray;
}

#top-bar-content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 4rem;
}


#content {
    background: #171717;
    display: flex;
    flex-grow: 1;
}


#left-menu {
    font-weight: bold;
    position: fixed;
    width: 305px;
    height: calc(100vh - 44px);
    background: #282828;
    left: 0;
}

.menu-item {
    padding: 10px;
}

@media only screen and (max-width: 550px) {

    #left-menu {
        display: none;
        /*pointer-events: none;*/
    }

    #editor {
        margin-left: 0;
        width: 100vw;
    }

    #today-view {
        width: 100vw;
    }
}


@media only screen and (min-width: 550px) {
    #editor {
        margin-left: 305px;
        width: calc(100vw - 305px);
    }

    #today-view {
        width: calc(100vw - 305px);
    }
}
#list-holder {
    padding-top: 2rem;
    padding-left: 1rem;
}
#editor {
    height: calc(100vh - 44px);

    display: flex;
    flex-direction: column;
    min-width: 305px;

}

#view-header {
    height: 120px;
    display: flex;
    width: 100%;
}

#header-content {
    display: flex;
    justify-content: center;
    align-items: baseline;
    height: 100%;
    width: 100%;
    margin-left: 4rem;
}

.headings {
    margin: 20px;
}

.todo-header {
    border-bottom: 1px solid #282828;
}

#today-view {
    height: calc(100vh - (44px + 120px));
}

#lists-box {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 100%;
    padding: 2rem 0;
}

#lists {
    padding-left: 25px;
    padding-right: 25px;
    width: 600px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.list {
    margin-bottom: 50px;
}

.todo {
    padding: 6px;
}
.todo-item {
    min-width: 300px;
    border-bottom: solid 1px #282828;
    font-size: 14px;
}

.todo-date {
    color: darkgrey;
}

.list-content {
    display: flex;
}

.checkbox-btn {
    height: 100%;

}

.checkbox-div {
    margin: 2px 10px;
}

.checkbox {
    width: 15px;
    height: 15px;
}


.todo-btn {
    margin-top: 1rem;
}

.list-text {
    margin: 3px 0;
}

.input-section {
    width: 90%;
    color: whitesmoke;
    background: #282828;
    padding: 5px;
    border: darkgrey 1px solid;
    border-radius: 3px;
}

.inputs {
    width: 90%;
}

.input-title {
    font-weight: bold;
}

.options {
    width: 100%;
    display: flex;
    align-items: center;
}

.option-btn {
    padding: 7px;
    margin: 10px;
    font-weight: bold;
    border-radius: 3px;
}

.add-todo {
    border-radius: 3px;
    background: #1a73e8;
    color: black;
    padding: 10px;
}

.cancel-add-todo {
    background: #282828;
    border: darkgrey 1px solid;
    color: whitesmoke;
}

#overlay {
    margin: auto;
    text-align: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.35);

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    pointer-events: none;


    transition: all 0.2s ease;
}

#add-project-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 10;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background: whitesmoke;
    border-radius: 10px;

    padding: 20px;
    width: 200px;
    height: 200px;
}


#project-header {
    height: 50px;
    width: 100%;
    color: #171717;
    font-weight: bold;
}

#project-form-div {
    height: 100px;
    width: 100%;

}

#project-options {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.text-inputs {
    text-align: center;
    margin-top: 20px;
}

#project-name-input {
    background: darkgrey;
    border-radius: 3px;
    color: #171717;
}

.collect {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.left {
    display: flex;
}

.right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
}

.calendar {
    background: grey;
    border-radius: 3px;
}