@font-face {
    font-family: "Montserrat";
    src: url('./Montserrat-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url('./Montserrat-Bold.ttf') format('truetype');
}

.bold {
    font-weight: bold;
}

button {
    border: none;
}

input {
    color: whitesmoke;
    margin: 5px;
    padding: 5px;
    background: #282828;
    border: none;
}

textarea:focus, input:focus{
    outline: none;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background: #171717;
    font-family: Montserrat, sans-serif;
    color: whitesmoke;
    overflow: hidden;
    display: block;
}

#app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#top-bar {
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 15%);
    height: 44px;
}

#top-bar-content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 4rem;
}


#content {
    background: #171717;
    display: flex;
    flex-grow: 1;
}


#left-menu {
    font-weight: bold;
    color: #171717;
    position: fixed;
    width: 305px;
    height: calc(100vh - 44px);
    background: #EC741C;
    left: 0;
}

.menu-item {
    padding: 10px;
}

@media only screen and (max-width: 550px) {

    #left-menu {
        display: none;
        /*pointer-events: none;*/
    }

    #editor {
        margin-left: 0;
        width: 100vw;
    }

    #today-view {
        width: 100vw;
    }
}


@media only screen and (min-width: 550px) {
    #editor {
        margin-left: 305px;
        width: calc(100vw - 305px);
    }

    #today-view {
        width: calc(100vw - 305px);
    }
}
#list-holder {
    padding-top: 2rem;
    padding-left: 1rem;
}
#editor {
    height: calc(100vh - 44px);

    display: flex;
    flex-direction: column;
    min-width: 305px;

}

#view-header {
    height: 120px;
    display: flex;
    width: 100%;
}

#header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0 8rem;
}

#today-view {
    height: calc(100vh - (44px + 120px));
}

#lists-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2rem 0;
}

#lists {
    max-width: 800px;
    min-width: 280px;
    padding: 0 55px;
}

.list {
    margin-bottom: 50px;
}

#section-list {
    display: flex;
    justify-content: center;
}

.todo {
    padding: 10px;
}
.todo-item {
    border-bottom: solid 1px #282828;
}

.input-section {
    width: 300px;
    color: whitesmoke;
    background: #282828;
    padding: 5px;
    border: darkgrey 1px solid;
    border-radius: 3px;
}

.inputs {
    width: 90%;
}

.options {
    width: 100%;
    display: flex;
    align-items: center;
}

.option-btn {
    padding: 7px;
    margin: 10px;
    font-weight: bold;
    border-radius: 3px;
}

.confirm-add-todo {
    background: #EC741C;
    color: black;
    padding: 10px;
}

.cancel-add-todo {
    background: #282828;
    border: darkgrey 1px solid;
    color: whitesmoke;
}